{%  extends 'layout.html.twig' %}

{%  block title %}
    S'inscrire {{  parent() }}
{%  endblock %}


{%  block main %}
    {{  form_start(partiForm) }}
    {{  form_widget(partiForm) }}
    <button type="submit" class="btn btn-primary">S'inscrire</button>
    {{  form_end(partiForm) }}
{%  endblock %}