html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: lightgray;
}

.form-control
{
    margin-left: 25px;
    display: inline-block;
}

#createOuting{
    margin-top: 30px;
}
.img-responsive
{
    width: 50%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #e33d77;
    color: #000000;
    text-align: center;
}
.copyright
{
    margin: auto;
}
.btn-default{
    float: right;
}
#sortie-search{
    width: 60%;
}
.table-bordered{
    margin-top: 35px;
}
.menu{
    margin: auto;
}
ul span{
    margin-left: 10px;
}

/* ==================== Style pagination ========================*/
.pagination {
    justify-content: center;
}

li.page-item.active span.page-link {
    background-color: #e33d77;
    border-color: #e33d77;
}

