<nav>
        <ul>
        <span style="text-decoration: underline;"><a href="#">Villes</a></span>
        <span style="text-decoration: underline;"><a href="#">Sites</a></span>
        <span style="text-decoration: underline;"><a href="#">Acceuil</a></span>
        <span style="text-decoration: underline;"><a href="#">Mon profil</a></span>
        <span style="text-decoration: underline;"><a href="{{ path('participant_register') }}">S'inscrire</a></span>
        <span style="text-decoration: underline;"><a href="#">Se connecter</a></span>
        <span style="text-decoration: underline;"><a href="#">Se déconnecter</a></span>
    </ul>
</nav>